.site-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}

input[type="submit"] {
    margin-top: 1rem;
    padding: .8rem;
    background-color: #18a037;
    color: white;
    text-transform: uppercase;
    border-radius: 8px;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 1rem;
    padding: .4rem .8rem;
    border-radius: 4px;
}